<!DOCTYPE html>
<html>
    <head>
        <title>Agence Billet</title>
        <link rel="stylesheet" href="/assets/SemanticUI/semantic.min.css">
        <link rel="stylesheet" href="/assets/SemanticUI/my-semantic.css">
        <style>
            .main.container{
                margin-top: 7em;
            }
        </style>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <a href="/" class="header item">Accueil</a>
        </div>
        <div class="ui main container centered">